# deprecation note:
# - pinned last known working CDK v1 versions as deprecating this stack
# - this stack has been completely tear down from both DEV and PROD
# - commented out dependencies to avoid dependabot such as #278
#PyJWT==2.4.0
#cryptography==3.4.7
#requests==2.25.1
