.DS_Store
terraform/stacks/stackstorm/keys
**/.terraform
**/*.tfstate
**/*.tfstate.backup
**/*.tfstate.backup
**/*.tfstate.*.backup
**/layers/*.zip
.env
venv
cdk.out
cdk.context.json
*.egg-info
__pycache__
.vscode
.idea/
.dev
dev/
terraform.tfvars
.build/
