*.swp
package-lock.json
yarn.*

# CDK asset staging directory
.cdk.staging
cdk.out

# generated python packages for lambda layers
lambdas/layers/**/*.zip

# Distribution / packaging
.Python
env/
venv/
.venv/
.env/
build/
node_modules/
develop-eggs/
dist/
downloads/

lib/
lib64/
parts/
sdist/
var/
eggs/
.eggs/
*.egg-info/
*.egg-info
*.egg
*.egg*
*__pycache__*
.installed.cfg
package-lock.json
.pytest_cache

# Serverless
.aws-sam
.serverless/
node_modules/

*.log

# IDE
.idea
.DS_Store
.vscode
