[Unit]
Description=Monitor new samplesheets in prod env
Requires=network-online.target
After=network-online.target

[Service]
User=limsadmin
Restart=on-failure
RestartSec=10
Environment="DEPLOY_ENV=prod"
ExecStart=/opt/Pipeline/prod/scripts/samplesheet-monitor.sh
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target